nav{
  width: $sb-width;
  position: absolute;
  top: $sb-width;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  display: none;
  max-height:0;
  transition:all 0.5s ease-in;

  a.nav-item{
    color: $dark-icon-color;
    border-bottom: 1px solid $fe-border-color;
    display: flex;
    text-decoration: none;
    height: $sb-width;
    &:hover{
      color: map-get($cms-colors, 'a');
    }
  }
}
.nav-linker{
  left:0;
}


.main-nav-icon:hover nav,
nav.open,{
  visibility: visible;
  display: block;
  opacity:1;
  max-height:none;
}