{% extends 'base.html.twig' %}

{% block body %}
    <h1>Spammaiils</h1>
    <div class="row">
        <div class="col">
            <div class="panel">


                <data-table
                        v-model="selected"
                        :headers="headers"
                        :items="desserts"
                        :single-select="singleSelect"
                        item-key="name"
                        show-select
                        class="elevation-1"
                >
                    <template v-slot:top>
                        <v-switch
                                v-model="singleSelect"
                                label="Single select"
                                class="pa-3"
                        ></v-switch>
                    </template>
                </data-table>

            </div>
        </div>
    </div>
{% endblock %}
