{# Invite more teachers #}
<b-link v-b-modal.modal-profile-school-authority class="d-flex justify-content-between position-absolute t-dashboard-user-message">
    <p class="tr-color-black-100">{% trans  from 'dashboard' %}messageSchoolAuthority{% endtrans %}</p>
    <i class="fad fa-school ml-2 tr-school-color"></i>
</b-link>


