<div class="alert alert-danger">
    <i class="fad fa-exclamation-square"></i>
    <span>Es gibt keinen Nutzer, der mit der Schule verbunden ist. Bitte informieren Sie den technischen Support.</span>
    <a href="{{ path('user_success') }}">
        {% trans  from 'dashboard' %}myDashboard{% endtrans %}
    </a>
</div>