<div class="d-flex flex-column flex-sm-row px-md-2 px-lg-0">
    <div class="ml-sm-0 mb-1 mb-sm-0">
        <i class="fad fa-shield-check tr-display-4 text-primary"></i>
    </div>
    <div class="tr-small-1 ml-sm-3 ml-lg-2">
        <a href="#">{% trans  from 'dashboard' %}dataSafety{% endtrans %}</a>
    </div>
</div>
