{% extends 'frontend/dashboard-teacher/base.html.twig' %}

    {% block teacher_messages %}
        {# Messages #}
        {% include "frontend/dashboard-teacher/child-templates/school-messages.html.twig" %}

        {# back btn #}
        <div class="position-absolute tr-back-btn text-white tr-small-0" title="Zurück">
            <a href="{{ path('dashboard_teacher_category_overview',{'category':category.id}) }}">
                <i class="fad fa-arrow-left tr-display-2 float-left py-2 px-2"></i>
            </a>
        </div>
    {% endblock %}

    {% block teacher_header %}
        {# Account data #}
        {% include "frontend/dashboard-teacher/actions/child-templates/potential/account.html.twig" %}

    {% endblock %}

    {% block teacher_content %}
        {# hr & title #}
        <div class="mt-3 mb-2 py-1 tr-line">
            <p> {% trans  from 'dashboard' %}teacherPotentialTitleStart{% endtrans %}
                <b>{{ category.name }}</b>
                {% trans  from 'dashboard' %}teacherPotentialTitleEnd{% endtrans %}
            </p>
        </div>

        {# charts by questionnaire #}
        <div class="m-0 white-bg-color">
            {% include "frontend/dashboard-teacher/actions/child-templates/potential/questionnaries-charts.html.twig" %}
        </div>

        {# support packet #}
        {# hr & title #}
        <div class="mt-3 mb-2 py-1 tr-line d-flex justify-content-between">
            <p class="m-0">
                <b>{% trans  from 'dashboard' %}supportPackage{% endtrans %}</b> {% if user.school | default(null) %}{{ user.school.name }}{% endif %}
            </p>
            <i class="fad fa-arrow-up tr-rotate-45 float-right text-primary tr-text-grow-1 mr-3 mr-sm-0"></i>
        </div>
        {% include "frontend/dashboard-school/actions/child-templates/potential/support-package.html.twig" %}

        {# hr & title #}
        <div class="mt-3 mb-2 py-1 tr-line">
            <p>{% trans  from 'dashboard' %}documentation{% endtrans %}</p>
        </div>
        {# Dokumentation & Materialien #}
        {% include "frontend/dashboard-teacher/actions/child-templates/category-overview/documentation-and-materials.html.twig" %}

    {% endblock %}

    {% block teacher_footer %}
        {# hr & title #}
        <div class="mt-3 mb-2 py-1 tr-line d-flex justify-content-between">
            <p class="m-0">{% trans  from 'dashboard' %}hintsAndContact{% endtrans %}</p>
            <i class="fad fa-arrow-up tr-rotate-45 float-right tr-text-grow-1"></i>
        </div>

        {# School info & more #}
        <div class="d-flex justify-content-around flex-column flex-md-row">
            {% include "frontend/dashboard-general/additional-information.html.twig" %}
        </div>
    {% endblock %}
