<footer class="p-1 container p-grid">
    <hr>
    <div class="row mb-2">
        <div class="col-md-4 text-left  offset-md-1">
            Gefördert durch:<br>
            <a href="https://www.bmbf.de/" title="zum BMBF" target="_blank">
                <img border="0" alt="bmbf logo" class="logo-offset" src="{{ asset('build_frontend/images_frontend/bmbf.jpg') }}" >
            </a>

        </div>
        <div class="col text-center text-md-right d-flex flex-column">
            <p class="pt-2  order-md-last">
                Das Forschungs- und Entwicklungsprojekt zur Entwicklung einer Plattform zur digitalen
                Schultransformation [SchulTransform] wird gefördert durch das Bundesministerium für Bildung und
                Forschung (BMBF) und wird von Helliwood media & education und dem Bündnis für Bildung <br>gemeinsam
                umgesetzt.
            </p>
            <p class="order-md-first">developed by Helliwood / <a href="/impressum">Impressum</a> / <a href="/datenschutz">Datenschutz</a> /
                <a class="cookieAP" href="javascript:void(0)" @click="$refs.cookiebanner.showModal()">Cookies anpassen</a></p>

        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4 text-left pl-5">
        </div>
        <div class="col text-right">

        </div>
    </div>
</footer>