<nav class="position-absolute main-bg-color" id="icon-nav">
    <a class="nav-item" href="/zum-projekt"><i class="fad hf fa-project-diagram m-auto"></i>
        <div class="nav-item-text" >Zum Projekt</div>
    </a>
    <a class="nav-item" href="/handlungsfelder"><i class="fad hf fa-badge-check m-auto"></i>
        <div class="nav-item-text" >Handlungsfelder</div>
    </a>
    <a class="nav-item" href="/auswertung"><i class="fad hf fa-chart-pie m-auto"></i>
        <div class="nav-item-text" style="">Auswertung</div>
    </a>
    <a class="nav-item" href="/handlungsempfehlungen"><i class="fad hf fa-tools m-auto"></i>
        <div class="nav-item-text" >Handlungsempfehlungen</div>
    </a>
</nav>