{# {% extends 'iframe.html.twig' %} #}

{% form_theme form with formThemeTemplates %}

{% block body %}
    {{ form_start(form, {'action': path("content_tree_site_sitecontent_form", {id:siteContent.id}), 'attr': {'novalidate': 'novalidate', 'class': 'mb-5'}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="fixed-bottom bg-body pt-2 border-top">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" value="save_and_close" class="btn btn-primary mb-2"><i class="fas fa-save"></i> Speichern und schließen
                </button>
                <button type="submit" value="save" class="btn btn-secondary mb-2"><i class="far fa-save"></i> Speichern</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
