<div class="row row-cols-1 row-cols-md-2 mb-3 px-3 py-2">
    <div class="tr-small-1 mb-3 p-1">
1
        {% trans  from 'dashboard' %}teacherHintsAndContact{% endtrans %}

    </div>
    <div>
        <div class="mb-3">
            <b-link class="tr-small-1 btn tr-border-rad-2 bg-white border tr-border-warning px-3">
                {% trans  from 'dashboard' %}contactTeam{% endtrans %}
            </b-link>
        </div>
        <div class="d-flex">
            <div>
                <i class="fad fa-shield-check tr-display-4 text-primary"></i>
            </div>
            <div class="ml-2 tr-small-1">
                {% trans  from 'dashboard' %}dataSafety{% endtrans %}
            </div>
        </div>
    </div>

</div>
