{% block body %}
    Hallo {{ data.user.firstName }} {{ data.user.lastName }},<br/>
    <br/>
    vielen Dank für Ihre Anmeldung auf schultransform.org<br/>
    <br/>
    Sie wurden als Schulträger gerade bestätigt.<br/>
    <br/>
    Der Funktionsumfang Ihres Account wurde erweitert.

    <br/><br/>
    Mit den besten Grüßen<br/>
    Ihr Projektbüro Schultransform

    <br/><br/><br/>
    <strong>Projektbüro Schultransform</strong><br/>
    <br/>
    <strong>c/o Helliwood media & education im fjs e.V.</strong><br/>
    Telefon: +49 30 2938 1680<br/>
    Telefax: +49 30 2938 1689<br/>
    E-Mail: <a href="support@schultransform.org">support@schultransform.org</a><br/>
    <br/>
    <strong>Vorstand</strong><br/>
    fjs e.V., Vorstandsvorsitzender: Wolf-Dieter Tuchel<br/>
    Marchlewskistraße 27, 10243 Berlin<br/>
    Vereinsregisternummer: VR 11338 B, Amtsgericht Berlin-Charlottenburg<br/>
    <br/>
    <strong>Förderung</strong><br/>
    Das Forschungs- und Entwicklungsprojekt zur Entwicklung einer Plattform zur digitalen Schultransformation [SchulTransform] wird gefördert durch das Bundesministerium für Bildung und Forschung (BMBF) und wird von Helliwood media & education und dem Bündnis für Bildung gemeinsam umgesetzt.<br/>

{% endblock %}