{% block dc_image %}/build_frontend/images_frontend/socialimage.jpg{% endblock %}

{% extends 'frontend/public.html.twig' %}

{% block body %}
    <div class="color-switch col-md-8 main-bg-color mb-grid animate main-title d-flex align-items-center ">
        <h2>Registrierung / <span>Lehrercode</span><span class="icon-box d-flex"><i data-fa-transform="rotate-90"
                                                                                    class="fad  fa-arrow-up"></i></span>
        </h2>
    </div>
    <div class="col-md-9 col-12 p-grid p-md-0 mt-0">
        <p class="title-copy  mb-grid">
            Sie besitzen bereits einen persönlichen Code (für Lehrkräfte), mit dem Sie aktuell eingeloggt sind.
        </p>
        <p class="title-copy  mb-grid">
            Oder Sie sind mit einem bereits registrierten Schul-Account eingeloggt. Bitte melden Sie sich ab, um einen
            persönlichen Code (für Lehrkräfte) generieren zu können.
        </p>
    </div>
{% endblock %}