{% extends 'frontend/dashboard-school/actions/potential.html.twig' %}
    {% block school_header %}
        {# Account data #}
        {% include "frontend/dashboard-school/actions/child-templates/potential-questionnaire/account.html.twig" %}

    {% endblock %}
        {% block potential_title_questionnaire_charts %}
            {# hr & title #}
            <div class="mt-3 mb-2 py-1 tr-line">
                <p>
                    {{ "schoolQuestionnaireChartTitle"|trans({ '%fragebogen%': questionnaire.name}, "dashboard")| raw }}
                </p>
            </div>
        {% endblock %}

