{# Invite more teachers #}
<a href="{{ path('print_colleague_invitation') }}" class="d-flex justify-content-between position-absolute t-dashboard-user-message">
    <p class="tr-color-black-100">{% trans  from 'dashboard' %}inviteMoreTeacherHeaderTeacher{% endtrans %}</p>
    <i class="fad fa-users ml-2 tr-school-color"></i>
</a>
