{% extends 'iframe.html.twig' %}

{% block body %}
    <div class="container-fluid w-100 mt-3">
        <div>
            {{ form(form) }}
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function() {
            top.postMessage({op: 'contentLoaded', content:'form'}, "*");
        }
    </script>
{% endblock %}