<a href="https://partner.schultransform.org/"
   style="font-weight: bold;text-decoration: none;font-size: 22px; color: black;">schul<span
            style="font-weight: normal; color: #006292;">transform</span>.</a>