{% block body %}
    Hallo {{ data.user.firstName }} {{ data.user.lastName }},<br/>
    <br/>
    vielen Dank für die Registrierung Ihres Schulträgers auf schultransform.org.<br/>
    <br/>
    Ihr Schulträgercode lautet: {{ data.user.schoolAuthority.code }}<br/><br/>
    Um die Registrierung vollständig abzuschließen...
    <ol>
        <li>Bestätigen Sie bitte Ihre E-Mail-Adresse mit diesem Link, um Ihren Schulträger im System von Schultransform
            verfügbar zu machen: <a target="_blank" href="{{ data.link }}"> Jetzt bestätigen</a>.
        </li>
        <li>Senden Sie uns das angehängte Fax zur Verifizierung Ihres Schulträgers ausgefüllt und unterzeichnet zurück.
        </li>
    </ol>
    Beides ist wichtig, um die Angebote auf schultransform.org vollständig nutzen zu können.<br/> <br/>
    Mit den besten Grüßen<br/>
    <br/><br/>
    <strong>Projektbüro Schultransform</strong><br/>
    <br/>
    <strong>c/o Helliwood media & education im fjs e.V.</strong><br/>
    Marchlewskistraße 27, 10243 Berlin<br/>
    Telefon: +49 30 2938 1680<br/>
    Telefax: +49 30 2938 1689<br/>
    E-Mail: <a href="mailto:support@schultransform.org">support@schultransform.org</a><br/>
    Internet: <a href="https://www.schultransform.org">https://www.schultransform.org</a><br/>
    <br/>
    <strong>Förderverein für Jugend und Sozialarbeit e.V. (fjs)</strong><br/>
    Geschäftsführender Vorstand: Thomas Schmidt<br/>
    Vereinsregisternummer: VR 11338 B, Amtsgericht Berlin-Charlottenburg<br/>
    <a href="https://fb.tipp.fm/3938_fjs_transparenzdatenbank.htm">Transparenzdatenbank</a><br/><br/>

    <strong>Förderung</strong><br/>
    Das Forschungs- und Entwicklungsprojekt zur Entwicklung einer Plattform zur digitalen Schultransformation [SchulTransform] wird gefördert durch das Bundesministerium für Bildung und Forschung (BMBF) und wird von Helliwood media & education und dem Bündnis für Bildung gemeinsam umgesetzt.
    <br/>

{% endblock %}
